{% extends 'base.html' %}
{% block content %}
<h3>Editar cliente #{{ cliente[0] }}</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input class="form-control" name="nombre" value="{{ cliente[1] }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Monto prestado</label>
    <input class="form-control" name="monto_prestado" value="{{ cliente[2] }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Observaciones</label>
    <textarea class="form-control" name="observaciones">{{ cliente[4] }}</textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Fecha préstamo</label>
    <input type="date" class="form-control" name="fecha_prestamo" value="{{ cliente[5] }}">
  </div>
  <button class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}
