{% extends 'base.html' %}
{% block content %}
<h3>Nuevo cliente</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input class="form-control" name="nombre" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Monto prestado</label>
    <input class="form-control" name="monto_prestado" required placeholder="Ej: 1.234,56">
  </div>
  <div class="mb-3">
    <label class="form-label">Observaciones</label>
    <textarea class="form-control" name="observaciones"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Fecha préstamo</label>
    <input type="date" class="form-control" name="fecha_prestamo">
  </div>
  <button class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
